<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
   
      <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
      <add key="ida:Tenant" value="DemoAPIM.onmicrosoft.com" />
      <add key="ida:ClientId" value="xxxxxxxxxxxxxx" />
      <add key="ida:RedirectUri" value="http://localhost" />
    
      <add key="ApiResourceId" value="https://DemoAPIM.onmicrosoft.com/APIMAADDemo" />
      <add key="ApiBaseAddress" value="https://miao.azure-api.net/calc/" />
    
   </appSettings>
</configuration>

