<h2>@ViewBag.Title</h2>
@ViewBag.Message

<br /><br />

<a href="?action=confirm&operation=@ViewBag.Operation&productId=@ViewBag.ProductId&userId=@ViewBag.UserId&subscriptionId=@ViewBag.SubscriptionId&returnUrl=@ViewBag.ReturnUrl">@ViewBag.ButtonText</a>
